osx_image: xcode8
rvm:
  - 2.2.2
language: objective-c
before_install: 
  - gem install xcpretty slather -N
cache: cocoapods
podfile: TDSwiftGraph/Podfile
script:
  - set -o pipefail && - travis_retry xcodebuild test -workspace TDSwiftGraph.xcworkspace -scheme "TDSwiftGraph" -destination 'platform=iOS Simulator,name=iPhone 6,OS=10.0' -enableCodeCoverage YES ONLY_ACTIVE_ARCH=YES | xcpretty -c
after_success:
  - slather coverage --ignore "../**/*/Xcode*" --scheme "TDSwiftGraph" --workspace TDSwiftGraph.xcworkspace TDSwiftGraph.xcodeproj