osx_image: xcode8
rvm:
  - 2.2.2
language: objective-c
before_install: 
  - gem install xcpretty slather -N
  - xcrun instruments -w "iPhone 6 (10.0)" || echo "(Pre)Launched the simulator."
cache: cocoapods
podfile: TDSwiftGraph/Podfile
script:
  - set -o pipefail && xcodebuild test -workspace TDSwiftGraph.xcworkspace -scheme "TDSwiftGraph" -destination 'platform=iOS Simulator,name=iPhone 6,OS=latest' -enableCodeCoverage YES ONLY_ACTIVE_ARCH=YES | xcpretty -c
after_success:
  - slather coverage --ignore "../**/*/Xcode*" --scheme "TDSwiftGraph" --workspace TDSwiftGraph.xcworkspace TDSwiftGraph.xcodeproj